#about{
  // overflow-x: hidden;
  background: url("/img/mountain-top.jpg"),linear-gradient(0deg, rgba(24, 95, 226, 0.493), rgba(54, 219, 156, 0.329)) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: screen;
  min-height: 530px;
  width: 100%;
  .heading{
    padding-top: 6rem;
    margin-left: 10rem;
    h1{
      color: $blue;
      letter-spacing: 0.5rem;
      font-weight: 600;
      text-transform: uppercase;
      font-family: $font-heading;
      span{
        position: relative;
        &::before{
          content: "";
          background-color: $lime;
          opacity: 0.7;
          position: absolute;
          top: 2.2rem;
          left: 0.7rem;
          width: 85%;
          height: 0.5rem;
          border-radius: 10px;
        }
      } 
    }
    h3{
      color: $primary;
      letter-spacing: 0.5rem;
    }
  }

  .content{
    align-items: center;
    width: 30%;
    margin-left: 10rem;
    p{
      color: $black;
      margin-top: 1.2rem;
    }
  }
  .read-more{
    background: $secondary;
    color: white;
    width: 10rem;
    margin: 1.5rem 5rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: $font-family-sans-serif;
    letter-spacing: 2px;
    box-shadow: 0 0 0 0 rgba(#2596be, .5);
    transform: scale(1);
    animation: pulse 2s infinite;
    &:hover{
      cursor: pointer;
      animation: none;
    }
  }
  
}
