.overlay{
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background-color:$black;
    opacity: 0.45;
  }
  img{
    height: 40rem;
  }
}

.hero-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ececec;
  text-shadow: 1px 1px 5px rgba(54, 54, 54, 0.6);
  font-family: $font-family-sans-serif;
  text-align: center;
  h3{
    font-size: 4vw;
  }
  span{
    color: $lime;
  }
  p{
    font-size: 1.5vw;
    letter-spacing: 0.2rem;
    text-align: center;
  }
  
  
}


@media screen and (max-width: 997px){
  .overlay{
    img{
      height: 20rem;
    }
  }
}

