.scrollBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none; 
  background-color: $primary;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 10;
  display: none;
  i{
    font-size: 1rem;
    color: white;
  }
  &:hover{
    background-color: white;
    border: 1px solid $primary;
    i{
      color: $primary;
    }
  }
} 