$primary: #3177AA;
$blue:  #3d7ca8;
// $secondary:  #7cad3e;
$secondary: #35e0ad;
$lime: #5ed18e;
$black:#222222;
$gray: #888888;

$font-family-sans-serif: 'Poppins', sans-serif;
$font-heading: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;