.fade {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.modal-content {
  text-transform: capitalize;
}

.modal-content .email-login form .icon {
  position: absolute;
  color: #3177AA;
  top: 30%;
  left: 6%;
}

.modal-content .email-login form input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-content .email-login form input:focus {
  border: 1px solid #3177AA;
}

.modal-content .email-login form .forgotPw a, .modal-content .email-login form .signUp a, .modal-content .email-login form .userLogin a {
  color: #888888;
  font-size: 0.85rem;
}

.modal-content .email-login form .forgotPw #v-bar, .modal-content .email-login form .signUp #v-bar, .modal-content .email-login form .userLogin #v-bar {
  color: #888888;
}

.modal-content .email-login form button {
  color: whitesmoke;
  background: #3177AA;
  width: 100%;
  padding: 0.8rem;
}

.modal-content .email-login form button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(37, 150, 190, 0.8)), to(rgba(0, 212, 255, 0.8)));
  background: linear-gradient(180deg, rgba(37, 150, 190, 0.8) 6%, rgba(0, 212, 255, 0.8) 100%);
}

.modal-content .modal-body .login-heading h6 {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

.modal-content .modal-body .login-heading span {
  font-size: 0.8rem;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

.modal-content .modal-body .social-heading {
  text-align: center;
}

.modal-content .modal-body .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content .modal-body .social-icon i {
  font-size: 3rem;
  padding: 0 1rem;
}

.modal-content .modal-body .social-icon i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.modal-content .modal-body .social-icon .fb-icon {
  color: #3b5998;
}

.modal-content .modal-body .social-icon .gp-icon {
  color: #dd4b39;
}

.modal-content .modal-body .social-icon .line-icon {
  color: #00B900;
}

.modal-content .modal-body .divider {
  text-align: center;
}

.modal-content .modal-body .divider #divider-txt {
  color: #888888;
}

.modal-content .modal-body .divider:before, .modal-content .modal-body .divider:after {
  content: "";
  display: inline-block;
  position: relative;
  background-color: lightgray;
  height: 1px;
  width: 45%;
  vertical-align: middle;
}

.modal-content .modal-body label {
  font-size: 0.8rem;
}

.modal-content .modal-body label a {
  color: #3177AA;
}

header .loginIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 1rem;
}

header .loginIcon .circle-icon {
  background-color: #3177AA;
  padding: 0.6rem;
  border-radius: 50%;
}

header img {
  max-width: 8.5rem;
}

header button {
  text-align: right;
}

header .navbar-nav .nav-link {
  display: inline-block;
  position: relative;
  color: #888888;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

header .navbar-nav .nav-link span {
  font-size: 0.8rem;
}

header .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #3177AA;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

header .navbar-nav .nav-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
  opacity: 0.45;
}

.overlay img {
  height: 40rem;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ececec;
  text-shadow: 1px 1px 5px rgba(54, 54, 54, 0.6);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.hero-caption h3 {
  font-size: 4vw;
}

.hero-caption span {
  color: #5ed18e;
}

.hero-caption p {
  font-size: 1.5vw;
  letter-spacing: 0.2rem;
  text-align: center;
}

@media screen and (max-width: 997px) {
  .overlay img {
    height: 20rem;
  }
}

.search-form {
  background-color: #3d7ca8;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
}

.search-form .form-group {
  position: relative;
  padding: 20px;
  margin-bottom: 0;
}

.search-form .form-group .form-control {
  border: none;
  outline: none;
  width: 250px;
  background-color: #3d7ca8;
  color: whitesmoke;
}

.search-form .form-group .form-control::-webkit-input-placeholder {
  color: whitesmoke;
}

.search-form .form-group .form-control:-ms-input-placeholder {
  color: whitesmoke;
}

.search-form .form-group .form-control::-ms-input-placeholder {
  color: whitesmoke;
}

.search-form .form-group .form-control::placeholder {
  color: whitesmoke;
}

.search-form .form-group .form-control:hover, .search-form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid whitesmoke;
}

.search-form .form-group input[type="date"].form-control:invalid {
  color: #6c757d;
}

.search-form .form-group label {
  color: whitesmoke;
  font-weight: 500;
}

.search-form .form-btn {
  padding: 1.5rem;
  margin-top: 10px;
}

.search-form .form-btn .submit-btn {
  text-transform: capitalize;
  border: none;
  background: #35e0ad;
  color: white;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search-form .form-btn .submit-btn:hover {
  opacity: 0.9;
}

#about {
  background: url("../img/klunae.jpeg"), -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(224, 224, 224, 0.781))) no-repeat;
  background: url("../img/klunae.jpeg"), linear-gradient(0deg, black, rgba(224, 224, 224, 0.781)) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: screen;
  min-height: 530px;
  width: 100%;
  line-height: 2rem;
}

#about .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .heading h1 {
  color: #3177AA;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  text-shadow: 0px 1px 1px #a2b4c5;
}

#about .heading h4 {
  color: #3177AA;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#about .heading h4 span {
  position: relative;
}

#about .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-left: 25rem;
}

#about .content p {
  display: inline-block;
  color: #222222;
  margin: 1.2rem 0;
}

#about .content .read-more {
  background: #35e0ad;
  color: white;
  width: 10rem;
  margin-right: 2rem;
  padding: 0.8rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  -webkit-box-shadow: 0 0 0 0 rgba(37, 150, 190, 0.5);
          box-shadow: 0 0 0 0 rgba(37, 150, 190, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

#about .content .read-more:hover {
  cursor: pointer;
  -webkit-animation: none;
          animation: none;
}

#tours .heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#tours .heading h1 {
  color: #3177AA;
  margin-right: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

#tours .heading h4 {
  color: #3d7ca8;
}

#tours .heading h4 span {
  position: relative;
}

#tours .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#tours .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#tours .content img {
  position: relative;
  width: 15%;
  bottom: 20%;
  right: 0;
}

#tours .content p {
  color: #888888;
  width: 70%;
  margin-top: 1.2rem;
}

#tours .see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tours .see-more a {
  color: #888888;
  text-decoration: none;
  font-size: 0.8rem;
}

#tours .see-more a:hover {
  color: #3177AA;
}

#tours .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: inline-block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border-radius: 1rem 1rem 0 0;
}

#tours .card img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 15rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#tours .card .card-body {
  font-family: "Poppins", sans-serif;
  height: 18rem;
  text-transform: uppercase;
  cursor: pointer;
}

#tours .card .card-body h5 {
  letter-spacing: 0.1rem;
  color: #222222;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#tours .card .card-body h6 {
  color: #888888;
  font-size: 0.85rem;
}

#tours .card .card-body h6 i {
  color: #5ed18e;
  font-size: 0.8rem;
}

#tours .card .card-body p {
  font-size: 0.85rem;
  color: #888888;
}

#tours .card .card-body a {
  background-color: #35e0ad;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding: 0.65rem 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-radius: 1rem;
}

#tours .card .card-body a:hover {
  background-color: transparent;
  color: #3177AA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #3177AA;
}

#tours .card .card-body .price {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

#tours .card .card-body .price #currency {
  color: #5ed18e;
}

#tours .card .card-body .price span del {
  color: #888888;
  font-size: 0.8rem;
  margin-left: 1rem;
}

#tours .card:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

#services {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#services .heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .heading h1 {
  color: #3177AA;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

#services .heading h4 {
  color: #3d7ca8;
}

#services .heading h4 span {
  position: relative;
}

#services .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#services .service-container {
  position: relative;
}

#services .service-container::before {
  content: '';
  position: absolute;
  bottom: -13%;
  right: -2%;
  width: 100%;
  height: 120%;
  background: #3177AA;
  opacity: 0.08;
  -webkit-clip-path: polygon(8% 16%, 98% 0, 100% 91%, 0 82%);
          clip-path: polygon(8% 16%, 98% 0, 100% 91%, 0 82%);
}

#services .service-container .card {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.5rem;
}

#services .service-container .card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#services .service-container .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #888888;
}

#services .service-container .card i {
  font-size: 2.5rem;
}

#services .service-container .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

#services .service-container .card h5 {
  color: #3177AA;
  font-size: 1.5rem;
}

#services .service-container .card p {
  color: #888888;
  font-size: 1rem;
}

#testimonials {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#testimonials .heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .heading h1 {
  color: #3177AA;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

#testimonials .heading h4 {
  color: #3d7ca8;
}

#testimonials .heading h4 span {
  position: relative;
}

#testimonials .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#testimonials .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#testimonials .content p {
  color: #888888;
  margin-top: 1.2rem;
}

#testimonials .carousel-indicators {
  height: 1rem;
}

#testimonials .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #3177AA;
  background: transparent;
}

#testimonials .carousel-indicators .active {
  background-color: #3177AA;
}

#testimonials .slides {
  width: 100%;
}

#testimonials .slides::before {
  content: '';
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: 120%;
  background: #3177AA;
  opacity: 0.08;
}

#testimonials .slides .slides-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  height: 30rem;
}

#testimonials .slides .slides-content .profile {
  margin: 2rem 0;
}

#testimonials .slides .slides-content .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #3177AA;
  padding: 3px;
}

#testimonials .slides .slides-content h6 {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#testimonials .slides .slides-content p {
  width: 50%;
}

#testimonials .slides .slides-content p i {
  color: #3177AA;
}

#testimonials .slides .slides-content .stars {
  color: #3177AA;
  margin: 1rem 0;
}

#testimonials .carousel-control-prev, #testimonials .carousel-control-next {
  height: 100%;
  top: 15%;
}

#testimonials .prev-btn, #testimonials .next-btn {
  margin-top: 3rem;
  color: #3177AA;
}

#contact .heading {
  text-align: center;
  margin-top: 5rem;
}

#contact .heading h1 {
  color: #3177AA;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#contact .heading h4 {
  color: #3d7ca8;
}

#contact .heading h4 span {
  position: relative;
}

#contact .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#contact .heading .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contact .heading .content p {
  color: #888888;
  margin-top: 1.2rem;
}

#contact .container {
  width: 80%;
}

#contact .form-body {
  background: url("../img/mountain.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(44, 63, 173, 0.712)), to(rgba(28, 127, 207, 0.616))) no-repeat;
  background: url("../img/mountain.jpg"), linear-gradient(180deg, rgba(44, 63, 173, 0.712), rgba(28, 127, 207, 0.616)) no-repeat;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}

#contact .form-body input, #contact .form-body textarea {
  border: 1px solid #3177AA;
  background-color: rgba(235, 235, 235, 0.8);
  text-transform: capitalize;
  border-radius: 2rem;
}

#contact .form-body input::-webkit-input-placeholder, #contact .form-body textarea::-webkit-input-placeholder {
  color: #888888;
}

#contact .form-body input:-ms-input-placeholder, #contact .form-body textarea:-ms-input-placeholder {
  color: #888888;
}

#contact .form-body input::-ms-input-placeholder, #contact .form-body textarea::-ms-input-placeholder {
  color: #888888;
}

#contact .form-body input::placeholder, #contact .form-body textarea::placeholder {
  color: #888888;
}

#contact .form-body input:focus, #contact .form-body textarea:focus {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #3177AA;
}

#contact .form-body .form-control {
  padding: 1.5rem;
}

#contact .form-body button {
  outline: none;
  border: none;
  color: white;
  text-align: center;
  background-color: #35e0ad;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0.5rem;
  width: 100%;
  text-shadow: 0 0 10px rgba(36, 36, 36, 0.384);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#contact .form-body button:hover {
  -webkit-transform: scaley(1.1);
          transform: scaley(1.1);
}

footer {
  background-color: #ebebeb;
  font-family: "Poppins", sans-serif;
}

footer .footer-content {
  padding: 1.5rem;
}

footer .footer-content a {
  display: block;
  color: #222222;
  text-decoration: none;
  text-transform: capitalize;
}

footer .footer-content a:hover {
  color: #3177AA;
}

footer .footer-content p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.85rem;
}

footer .footer-logo {
  width: 10rem;
  color: #222222;
}

footer .social-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1.5rem;
}

footer .social-media i {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  color: #3177AA;
  margin-right: 1.2rem;
}

footer .social-media i:hover {
  color: white;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

footer .social-media .circle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3177AA;
  padding: 20px;
  border-radius: 50%;
}

footer .social-media .circle-icon:hover {
  background: #3177AA;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

footer .link-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
}

footer .link-heading h5 {
  font-weight: 600;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .link-heading .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

footer .link-heading #thankYouMsg {
  color: #3177AA;
  font-weight: 600;
  display: none;
}

footer .link-heading input {
  border: 1px solid #3177AA;
  border-radius: 0.8rem;
  width: 80%;
  padding: 0.2rem;
}

footer .link-heading input:focus {
  outline: none;
  border: 2px solid #3177AA;
}

footer .link-heading button {
  background-color: transparent;
  color: #3177AA;
  border: 2px solid #3177AA;
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  width: 80%;
}

footer .link-heading button:hover {
  color: white;
  background-color: #3177AA;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #3177AA;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 10;
  display: none;
}

.scrollBtn i {
  font-size: 1rem;
  color: white;
}

.scrollBtn:hover {
  background-color: white;
  border: 1px solid #3177AA;
}

.scrollBtn:hover i {
  color: #3177AA;
}

#preload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

#preload-container #pageLoader {
  position: relative;
  width: 120px;
  height: 120px;
}

#preload-container #pageLoader span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(calc(18deg*var(--i)));
          transform: rotate(calc(18deg*var(--i)));
}

#preload-container #pageLoader span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #3177AA;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animate-circle 2s linear infinite;
          animation: animate-circle 2s linear infinite;
  -webkit-animation-delay: calc(var(--i)*0.1s);
          animation-delay: calc(var(--i)*0.1s);
}

#preload-container #pageLoader .airplane {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-animation: rotatePlane 2s linear infinite;
          animation: rotatePlane 2s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#preload-container #pageLoader .airplane:before {
  content: '\f072';
  position: absolute;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 3rem;
  color: #3177AA;
  top: 75%;
  left: 80%;
  -webkit-transform: rotate(106deg);
          transform: rotate(106deg);
}

@-webkit-keyframes rotatePlane {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatePlane {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animate-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#blog {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
}

#blog .heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .heading h1 {
  color: #3177AA;
  margin-right: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

#blog .heading h4 {
  color: #3d7ca8;
}

#blog .heading h4 span {
  position: relative;
}

#blog .heading h4 span::before {
  content: "";
  background-color: #5ed18e;
  opacity: 0.7;
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 85%;
  height: 0.25rem;
  border-radius: 10px;
}

#blog .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#blog .content p {
  color: #888888;
  width: 70%;
  margin-top: 1.2rem;
}

#blog .img-thumbnail {
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
/*# sourceMappingURL=style.css.map */